---
key: 1
title: Friends
permalink: /friends/
excerpt: 友链
image: pic07.jpg
background-image: banner.jpg
---
{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.works %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
      <tr>
        <td><b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b></td>
        <td>{{ work.date | date: "%b %Y" }}</td>
        <td>{{ work.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  if site.works_in_progress %}
  <div class="works_inprogress">In-progress, more to come.</div>{%
  endif %}{%
endif
%}

  <h3>Friends</h3>
	<h5>排名不分先后</h5>
	<hr />
	<a href="https://zarathu.cc/" target="_blank">尹协童老师</a>
	<p></p>
	<a href="https://www.cnblogs.com/kikokiko/" target="_blank">石佳玥老师</a>
	<p></p>
	<a href="https://blog.csdn.net/u014157256" target="_blank">陈嘉老师</a>
	<p></p>
	<a href="https://www.cnblogs.com/whdsunny/" target="_blank">周园顾老师</a>
	<p></p>
	<a href="https://bbboundary.github.io/" target="_blank">陈冰萸老师</a>
	<p></p>
	<a href="https://wzyxv1n.top/" target="_blank">wenzhuan</a>
	<p></p>
	<a href="https://edwiv.com/" target="_blank">Edwiv</a>
	<p></p>
	<a href="https://blog.csdn.net/weixin_43958728" target="_blank">蔡伟龙老师</a>
	<p></p>
	<a href="http://www.wzby.top" target="_blank">知北游老师</a>
	<p></p>
	<a href="http://preview.hdustea.cn/" target="_blank">杭电资料共享库</a>
	<p></p>
	
